#modal {
  display: none;
  margin: -15px -28px;
}
#modal .top {
  display: flex;
  align-items: center;
  width: 100%;

  line-height: 20px;
}

#modal .top div {
  background-color: #f9f5e1;
  padding: 30px 95px 30px 30px;
  height: 87px;
  width: 260px;
  border-top-left-radius: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  font-family: 'PT Serif', serif;
}

#modal .top button {
  width: 115px;
  height: 87px;
  color: #fff;
  border-top-right-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  background-color: #ffbe56;
  font-weight: bold;
}

#modal .bottom {
  padding: 30px;
  background-color: #fff;
}

#modal .bottom .menu {
  display: flex;
  margin-bottom: 25px;
}

#modal .bottom .menu img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

#modal .bottom .menu div p:first-child {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
}

#modal .bottom .menu div p {
  font-size: 15px;
  line-height: 24px;
  color: #6c6c6c;
}
