.notification {
    margin-top: 24px;
  }
  .info:first-child div {
    background-color: rgba(25, 163, 91, 0.1);
  }
  
  .info:nth-child(2) div {
    background-color: rgba(255, 189, 96, 0.1);
  }
  
  .info:first-child button {
    background-color: #00c267;
  }
  
  .info:nth-child(2) button {
    background-color: #ffbe56;
  }
  
  .notification .info {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .notification .info div {
    padding: 12px 15px;
    width: 204px;
    height: 64px;
    line-height: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .bolden {
    font-weight: bolder ;
  }
  
  .info button {
    width: 115px;
    height: 64px;
    color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-weight: bold;
  }
  
  .info button p:first-child {
    text-decoration: line-through;
  }
  