.plan .slot {
  margin-top: 30px;
}

.plan .slot h3 {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 16px;
  color: #00c267;
}
.plan .slot .times {
  height: 64px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.time {
  font-size: 12px;
  width: 59px;
}

.bubble,
.bubble-1 {
  width: 260px;
  font-size: 15px;
  padding: 13px 7px 13px 13px;
  border-radius: 6px;
  line-height: 20px;
}

.bubble {
  background-color: rgba(207, 236, 255, 0.5);
}
.bubble-1 {
  background-color: rgb(138, 92, 255, 0.5);
}

@media (min-width: 768px) {
  .time {
    width: 30%;
  }
  .bubble,
  .bubble-1 {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .plan .slot h3 {
    font-size: 2rem;
  }
  .time {
    width: 30%;
    font-size: 1.6rem;
  }

  .plan .slot .times {
    margin-bottom: 40px;
  }

  .bubble,
  .bubble-1 {
    width: 70%;
    height: 90px;
    font-size: 1.4rem;
    padding: 20px;
    line-height: 1.2;
  }
}
